<!--./row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Understander    
                                <div class="btn-group">
                                    <a target="_blank" href="http://www.iosrjournals.org/iosr-jce/papers/Conf.17003/Volume-3/5.%2024-28.pdf?id=7557" type="button" class="btn btn-default btn-xs pull-left"  >
                                        jurnal
                                        
                                    </a>
                                     <a target="_blank" href="https://janav.wordpress.com/2013/10/27/tf-idf-and-cosine-similarity/" type="button" class="btn btn-default btn-xs pull-left"  >
                                        penjelasan
                                        
                                    </a>
                                    
                                </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <div>TF-IDF COSINE SIMILIARITY</div>
                            <databasetf></databasetf>
                             <databasenormalisasi></databasenormalisasi>
                             <databaseidf></databaseidf>
                             <databasetfidf></databasetfidf>
                             <databasetfidfquery></databasetfidfquery>
                            
                    

                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>